* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  height: 100%;
}

.left {
  background-color: rgb(229, 225, 225);
  width: 60%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}
.right {
  background-color: rgb(127, 181, 193);
  width: 60%;
  height: 100%;
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
  position: absolute;
  right: 0;
}
.header {
  margin-right: 200px;
}
.p {
  margin-right: 50%;
  margin-top: 20%;
  position: fixed;
}

.form {
  background-color: white;
  color: black;
  width: 360px;
  height: 337px;
  border-radius: 5px;
  display: block;
  justify-content: center;
  align-items: flex-end;
  margin: 100px;
}
.tp {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}
.form-group {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.form-group input {
  background-color: rgb(231, 225, 225);
  color: black;
  border-radius: 5px;
  border: 1px solid gainsboro;
  outline: none;
  width: 92%;
  height: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  box-sizing: border-box;
  padding-left: 35px;
}

.input2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input2 .form-group input {
  width: 85%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(22, 22, 43);
  color: white;
  text-align: center;
  margin-top: 20px;
  width: 360px;
  height: 53px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form-input {
  width: 100%;
  height: 30px;
}

.form-group img {
  width: 20px;
  position: absolute;
  top: 7px;
  left: 25px;
}
.input2 .form-group img {
  position: absolute;
  top: 20px;
}
